:root {
  // bg-color:
  --hed-line-bg: #fde0dc;
  --main-bg: #fff;
  --product-card: #fde0dc;

  //btn
  --product-card-btn: #ffd11f;
  --active-nav-btn: #ffd11f;
  --nav-btn: #b8b8b8;
  --white-btn: #ffffff;
  --btn-google: #000000;

  //   font-text:
  --title-font: 'Adorn Condensed Sans', sans-serif;
  --pretitle-font: 'Romantika Hidup', sans-serif;
  --text-font: 'Raleway', sans-serif;
}
